<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<section class="about-section py-5 d-flex align-items-center min-vh-100"> <!-- Added min-vh-100 to fill the height -->
  <div class="container-fluid"> <!-- Changed to container-fluid for full width -->
    <!-- Heading -->
    <h2 class="text-center text-uppercase mb-4 fs-2 fw-bold text-white">ABOUT COMPONENT</h2>

    <!-- Star Divider -->
    <div class="text-center">
      <div class="line-star"></div>
      <i class="fas fa-star text-white fa-xl px-3"></i>
      <div class="line-star"></div>
      <p class="small pt-3 text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>

    <!-- Content -->
    <div class="row mt-4">
      <div class="col-lg-6">
        <p class="lead text-white text-center">
          Freelancer is a free bootstrap theme created by Route. The download includes<br> the complete source files including HTML, CSS, and JavaScript as <br>well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-lg-6">
        <p class="lead text-white text-center">
          Freelancer is a free bootstrap theme created by Route. The download includes<br> the complete source files including HTML, CSS, and JavaScript as<br> well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>