input.form-control:focus{
    box-shadow: none;
}
label{
    color: #1abc9c;
    margin-bottom: 7px;
    transition: 0.6s top;
}
.__one{
    top:40px !important
}
.contact-btn{
    background-color: #1abc9c !important;
    border-color:#1abc9c !important ;
}