<section class="footer py-4 bg-dark text-white"> <!-- Added text-white class -->
    <div class="container">
      <div class="row">
        <!-- Location -->
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="text-uppercase">Location</h5>
          <p class="mb-0">2215 John Daniel Drive</p>
          <p class="mb-0">Clark, MO 65243</p>
        </div>
  
        <!-- Around the Web -->
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="text-uppercase">Around the Web</h5>
          <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
            <!-- Facebook Icon -->
            <li class="me-3">
              <a href="#"  class="text-white" aria-label="Facebook">
                <i class="fab fa-facebook-f fa-xl"></i>
              </a>
            </li>
            <!-- Twitter Icon -->
            <li class="me-3">
              <a href="#" class="text-white" aria-label="Twitter">
                <i class="fab fa-twitter fa-xl"></i>
              </a>
            </li>
            <!-- LinkedIn Icon -->
            <li>
              <a href="#" class="text-white" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in fa-xl"></i>
              </a>
            </li>
          </ul>
        </div>
  
        <!-- About Freelancer -->
        <div class="col-md-4">
          <h5 class="text-uppercase">About Freelancer</h5>
          <p class="mb-0">
            Freelance is a free to use, licensed Bootstrap created <br>by Route.
          </p>
        </div>
      </div>
  
    </div>
    <footer class="py-2">
        <p class="text-center text-white">Copyright © Your Website 2021</p>
    </footer>
</section>
