<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<section class="home d-flex align-items-center">

    <div class="container ">
      <div class="item text-center text-white w-75 mx-auto">
          <img class="home-img" src="../../assets/imgs/avataaars.svg" alt="home image">
          <h1 class="text-uppercase fw-bolder py-3 h2">Start Framework</h1>
          <div class="text-center">
              <div class="line-star"></div>
              <i class="fas fa-star text-white fa-xl px-3"></i>
              <div class="line-star"></div>
              <p class="small pt-3 ">Graphic Artist - Web Designer - Illustrator</p>
          </div>
      </div>
    </div>
</section>